// Jost Font
@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Thin.woff2") format("woff2"),
    url("/Font/Jost/Jost-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-SemiBold.woff2") format("woff2"),
    url("/Font/Jost/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Black.woff2") format("woff2"),
    url("/Font/Jost/Jost-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Medium.woff2") format("woff2"),
    url("/Font/Jost/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-ExtraBoldItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Regular.woff2") format("woff2"),
    url("/Font/Jost/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Bold.woff2") format("woff2"),
    url("/Font/Jost/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-SemiBoldItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Italic.woff2") format("woff2"),
    url("/Font/Jost/Jost-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-ExtraBold.woff2") format("woff2"),
    url("/Font/Jost/Jost-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-ExtraLightItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-Light.woff2") format("woff2"),
    url("/Font/Jost/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-LightItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-MediumItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-BoldItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-ThinItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-ExtraLight.woff2") format("woff2"),
    url("/Font/Jost/Jost-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/Font/Jost/Jost-BlackItalic.woff2") format("woff2"),
    url("/Font/Jost/Jost-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// Muli Font
@font-face {
  font-family: "Muli Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Regular"), url("/Font/Muli/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Italic"), url("/Font/Muli/Muli-Italic.woff") format("woff");
}

@font-face {
  font-family: "Muli ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Muli ExtraLight"),
    url("/Font/Muli/Muli-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Muli ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli ExtraLight Italic"),
    url("/Font/Muli/Muli-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli Light";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Light"), url("/Font/Muli/Muli-Light.woff") format("woff");
}

@font-face {
  font-family: "Muli Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Light Italic"),
    url("/Font/Muli/Muli-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Muli SemiBold"),
    url("/Font/Muli/Muli-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Muli SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli SemiBold Italic"),
    url("/Font/Muli/Muli-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Bold"), url("/Font/Muli/Muli-Bold.woff") format("woff");
}

@font-face {
  font-family: "Muli Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Bold Italic"),
    url("/Font/Muli/Muli-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Muli ExtraBold"),
    url("/Font/Muli/Muli-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Muli ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli ExtraBold Italic"),
    url("/Font/Muli/Muli-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli Black";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Black"), url("/Font/Muli/Muli-Black.woff") format("woff");
}

@font-face {
  font-family: "Muli Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Muli Black Italic"),
    url("/Font/Muli/Muli-BlackItalic.woff") format("woff");
}